.grid-container {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 3px;
}


.grid-cell {
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}
.card {
  min-width: 50px; /* Set your desired min-width */
  //flex: 1; /* Allows cards to grow and fill the container */
  //margin: 0 2px; /* Adjust spacing between cards */
}
.selected {
  border-color: #007bff;
}
/* Add this to your existing styles */
//.grid-container.overlap .grid-cell {
//  position: absolute;
//  left: 50%;
//  transform: translateX(-50%);
//}

.grid-container.overlap .grid-cell:nth-child(n+2) {
  margin-left: -100px; /* Adjust the negative margin to control overlap */
}
