<div [formGroup]="actionForm" class="action">
  <mat-form-field appearance="outline" class="compact-field action-select">
    <mat-select (selectionChange)="onActionChange()" formControlName="id" placeholder="Select action...">
      @for (action of actions; track action.id) {
        <mat-option [value]="action.id">{{ action.display }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <div class="parameters" formArrayName="parameters">
    @for (paramCtrl of parametersArray.controls; track paramCtrl.value.id; let i = $index) {
      <div class="param-row">
        <app-parameter class="flex-grow-1"
                       [parameterForm]="convertToFormGroup(paramCtrl)"
                       [availableParameters]="parameters[i]"
                       (parameterChange)="updateParameters()"
        ></app-parameter>
        <button (click)="removeParameter(i)" class="remove-param-btn" title="Remove">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    }
  </div>
  <button (click)="addParameter()" class="add-param-btn">+ Param</button>
</div>
