<div [formGroup]="actionForm" class="action">
  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Action</mat-label>
    <mat-select (selectionChange)="updateActionParameters()" formControlName="id">
      @for (action of actions; track action.id) {
        <mat-option [value]="action.id">{{ action.display }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <div formArrayName="parameters" class="parameters">
    @for (paramCtrl of parameters.controls; track paramCtrl.value.id; let k = $index) {
      <app-parameter [parentForm]="actionForm"
                     [parameterForm]="convertToFormGroup(paramCtrl)"
                     [availableParameters]="updateActionParameters()"
      ></app-parameter>
    }
  </div>
  <button mat-button (click)="addParameter()">Add Parameter</button>
  <button mat-button color="warn" (click)="removeAction()">Remove Action</button>
</div>
