<!--<mat-toolbar class="separator" color="primary">-->
<!--  <span></span>-->
<!--  <button mat-button mat-dialog-close>&times;</button>-->
<!--</mat-toolbar>-->
<!--<form-->
<!--  [formGroup]="form"-->
<!--  #RegistrationForm="ngForm"-->
<!--  novalidate-->
<!--&gt;-->
<!--  <div class="row">-->
<!--    <mat-form-field class="col-6">-->
<!--      <mat-label>Trigger</mat-label>-->
<!--        <mat-select>-->
<!--          @for(trigger of triggers;track trigger.id){-->
<!--            <mat-option value="{{trigger.id}}">{{trigger.name}}</mat-option>-->
<!--          }-->
<!--        </mat-select>-->
<!--    </mat-form-field>-->
<!--  </div>-->
<!--</form>-->
