<div
  [ngStyle]="{'grid-template-columns': 'repeat(' + cols + ', 1fr)', 'grid-template-rows': 'repeat(' + rows + ', 1fr)'}"
  class="grid-container"
>
  @if (mode === GridDisplayMode.DECK) {
    @for (gridItem of grid; track gridItem.topCard) {
      <div class="grid-item disable-text-selection" (click)="onCellClick(gridItem)"
           [style]="getItemStyle(gridItem.id)"
      >
        @if (gridItem.topCard) {
          <app-card class="max" [card]="gridItem.topCard"></app-card>
        }
      </div>
    }
  } @else if (mode === GridDisplayMode.TEXT) {
    @for (value of list; track value) {
      <div (click)="onCellClick(value)" class="grid-item disable-text-selection" [style]="getItemStyle($index)">
        <span>{{ value }}</span>
      </div>
    }
  } @else if (mode === GridDisplayMode.INDEX) {
    @for (value of range(cols * rows); track value) {
      <div (click)="onCellClick(value)" class="grid-item disable-text-selection" [style]="getItemStyle(value)">
        <span>{{ $index }}</span>
      </div>
    }
  } @else if (mode === GridDisplayMode.DEFAULT) {
    @for (value of list; track value) {
      <div class="grid-item disable-text-selection" [style]="getItemStyle($index)"></div>
    }
  }
</div>
