.grid-container {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 3px;
}


.grid-cell {
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

.grid-item {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid whitesmoke;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.selected {
  border-color: #007bff;
}

.grid-container.overlap .grid-cell:nth-child(n+2) {
  margin-left: -100px; /* Adjust the negative margin to control overlap */
}

.red-shadow {
  box-shadow: 0 2px 12px rgba(255, 0, 0, 0.5);
}

.green-shadow {
  box-shadow: 0 2px 4px rgba(0, 255, 0, 0.1);
}
