<div
  [ngStyle]="{'grid-template-columns': 'repeat(' + cols + ', 1fr)', 'grid-template-rows': 'repeat(' + rows + ', 1fr)'}"
  class="grid-container"
>
  @if (mode === GridDisplayMode.DECK) {
    @for (gridItem of grid; track gridItem.id) {
      <div class="grid-item disable-text-selection">
        <app-card-deck
          class="max"
          [ngClass]="moveCardFrom === gridItem.id ? 'red-shadow' : moveCardTo === gridItem.id ? 'green-shadow' : ''"
          [cards]="gridItem.cards"
          (click)="moveCard(gridItem.id)"
        >
        </app-card-deck>
      </div>
    }
  } @else if (mode === GridDisplayMode.TEXT) {
    @for (value of list; track value) {
      <div (click)="selectCell(value)" class="grid-item disable-text-selection">
        <span>{{ value }}</span>
      </div>
    }
  } @else if (mode === GridDisplayMode.INDEX) {
    @for (value of range(cols * rows); track value) {
      <div (click)="selectCell(value)" class="grid-item disable-text-selection">
        <span>{{ $index }}</span>
      </div>
    }
  } @else if (mode === GridDisplayMode.DEFAULT) {
    @for (value of list; track value) {
      <div class="grid-item disable-text-selection"></div>
    }
  }
</div>
