.form-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.rule {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0;
  padding: 0;
  margin: 0;
}

.button-group button {
  flex: 1 0 0;
  margin: 0;
  border-radius: 0;
}

.visibility-button-toggle {
  min-width: 100px;
  min-height: 50px;
}

button {
  margin: 8px 0;
}
