<mat-grid-list cols="2" rowHeight="49.9%">
  <mat-grid-tile rowspan="2" class="overflow-y">
    <div class="form-container">
      <form [formGroup]="gameRuleForm">
        <div formArrayName="rules">
          @for (ruleCtrl of rules.controls; track ruleCtrl; let i = $index) {
            <div [formGroup]="convertToFormGroup(ruleCtrl)" class="rule">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Trigger</mat-label>
                <mat-select formControlName="trigger">
                  @for (trigger of triggers; track trigger.id) {
                    <mat-option [value]="trigger.id">{{ trigger.display }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
              <div formArrayName="actions">
                @for (actionCtrl of getActions(i).controls; track actionCtrl; let j = $index) {
                  <app-action [ruleForm]="convertToFormGroup(ruleCtrl)"
                              [actionForm]="convertToFormGroup(actionCtrl)"
                              [actionIndex]="j"
                  >
                  </app-action>
                }
              </div>
              <button mat-button (click)="addAction(i)">Add Action</button>
            </div>
          }
        </div>
        <button mat-raised-button color="primary" (click)="addRule()">Add Rule</button>
        <button mat-raised-button color="accent" (click)="onSubmit()">Submit</button>
      </form>
    </div>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <app-grid class="center max ghost-cards"></app-grid>
  </mat-grid-tile>
</mat-grid-list>
