<mat-grid-list cols="9" rowHeight="49.9%">
  <mat-grid-tile class="overflow-auto" colspan="4" rowspan="2">
    <div class="form-container">
      <form [formGroup]="gameForm">
        <div formArrayName="rules">
          @for (ruleCtrl of rules.controls; track ruleCtrl; let i = $index) {
            <app-rule [ruleForm]="convertToFormGroup(ruleCtrl)"></app-rule>
            <button mat-button color="warn" (click)="removeRule(i)">Remove Rule</button>
          }
        </div>
        <div class="d-flex justify-content-between w-100">
          <div>
            <button mat-raised-button color="primary" class="me-1" (click)="addRule()">Add Rule</button>
            <button mat-raised-button color="accent" class="me-1" (click)="onSubmit()">Submit</button>
          </div>
          <div>
            <button (click)="importRules()" class="me-1" color="primary" mat-raised-button>Import Rules</button>
            <button [routerLink]="['/play']" color="primary" mat-raised-button>navigate to play</button>

          </div>
        </div>
      </form>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="2">
    <mat-grid-list class="max" cols="1" rowHeight="49.9%">
      <mat-grid-tile colspan="1" rowspan="1">
        <div class="p-4">
          Select the cards deck that you will play with -->
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1">
        <div class="p-4">
          This is a grid reference for the card places that could be used to play.
          You can use the numbers as a reference to the cards' position in the rules -->
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-grid-tile>
  <mat-grid-tile colspan="3" class="flex-column">
    <div class="max d-flex flex-column">
      <div class="h-50 w-100 d-flex flex-column">
        <div class="h-50 w-100">
          <app-card-line (cardSelected)="onCardSelectedFromLine($event)" [cards]="selectedCards"></app-card-line>
        </div>
        <div [formGroup]="suitsForm" class="h-50 w-100">
          <div formArrayName="suits">
            @for (suitControl of suitsFormArray.controls; track suitControl.value) {
              <mat-checkbox color="primary" [formControlName]="$index">{{ suits[$index].display }}</mat-checkbox>
            }
          </div>
        </div>
      </div>
      <app-grid
        (cellSelected)="onValueSelected($event)"
        [cols]="7" [displayCellIndex]="true"
        [rows]="2"
        [list]="distinctCardsValues"
        class="h-50 w-100"
      ></app-grid>
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="p-1" colspan="3">
    <app-grid [displayCellIndex]="true" class="center max "></app-grid>
  </mat-grid-tile>
</mat-grid-list>
