.card {
  border-radius: 0.3em;
  width: 100%;
  aspect-ratio: 0.8;
}

.front {
  background: #ffffff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.back {
  background-color: #0063B2;
  background-image: linear-gradient(30deg, #005AA7 12%, transparent 12.5%, transparent 87%, #005AA7 87.5%, #005AA7),
  linear-gradient(150deg, #005AA7 12%, transparent 12.5%, transparent 87%, #005AA7 87.5%, #005AA7),
  linear-gradient(30deg, #005AA7 12%, transparent 12.5%, transparent 87%, #005AA7 87.5%, #005AA7),
  linear-gradient(150deg, #005AA7 12%, transparent 12.5%, transparent 87%, #005AA7 87.5%, #005AA7),
  linear-gradient(60deg, #007FE1 25%, transparent 25.5%, transparent 75%, #007FE1 75%, #007FE1),
  linear-gradient(60deg, #007FE1 25%, transparent 25.5%, transparent 75%, #007FE1 75%, #007FE1);
  background-size: 80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.back {
  background: linear-gradient(135deg, #ff7f50 25%, #ff4500 25%, #ff4500 50%, #ff7f50 50%, #ff7f50 75%, #ff4500 75%, #ff4500 100%);
  background-size: 56.57px 56.57px;
}


.spotA1 { position: absolute; left: 0.60em; top: 0.5em; }
.spotA2 { position: absolute; left: 0.60em; top: 1.5em; }
.spotA3 { position: absolute; left: 0.60em; top: 2.0em; }
.spotA4 { position: absolute; left: 0.60em; top: 2.5em; }
.spotA5 { position: absolute; left: 0.60em; top: 3.5em; }
.spotB1 { position: absolute; left: 1.55em; top: 0.5em; }
.spotB2 { position: absolute; left: 1.55em; top: 1.0em; }
.spotB3 { position: absolute; left: 1.55em; top: 2.0em; }
.spotB4 { position: absolute; left: 1.55em; top: 3.0em; }
.spotB5 { position: absolute; left: 1.55em; top: 3.5em; }
.spotC1 { position: absolute; left: 2.50em; top: 0.5em; }
.spotC2 { position: absolute; left: 2.50em; top: 1.5em; }
.spotC3 { position: absolute; left: 2.50em; top: 2.0em; }
.spotC4 { position: absolute; left: 2.50em; top: 2.5em; }
.spotC5 { position: absolute; left: 2.50em; top: 3.5em; }
.indexValue { position: absolute; left: 0.3em; top: 0.25em; }
.indexSuit { position: absolute; left: 0.25em; top: 1.2em; }
.ace {
  font-size: 300%;
  position: absolute;
  left: -0.25em;
  top:  -0.5em;
}
.hearts{
  font-size: 90%;
}
.ace.hearts {
  font-size: 230%;
  top: -0.4em;
  left: -0.35em;
}
.index {
  font-size: 60%;
  font-weight: bold;
}
.face {
  //border: 1px solid #000000;
  position: absolute;
  left: 18%;
  top:  12%;
  width: 60%;
  height: 60%;
}
