<mat-toolbar>
  <span>Import Game Setup</span>
</mat-toolbar>

<mat-dialog-content>
  <mat-form-field appearance="fill" class="w-100 h-100">
    <mat-label>Rules</mat-label>
    <textarea [(ngModel)]="gameJson" matInput placeholder="Paste your JSON here" rows="6"></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button (click)="dialogRef.close()" mat-button>Cancel</button>
  <button (click)="onSubmit()" color="primary" mat-button>Submit</button>
</mat-dialog-actions>
