.card-container {
  position: relative;
  height: 100%;
  //overflow-x: auto; /* Allows scrolling on x-axis if cards overflow */
  width: 100%; /* Assuming you want it to take the full width of its parent */
}

.card {
  position: absolute;
  height: 100%; /* Set your desired height */
  //min-width: 10px; /* Set your desired min-width */
  //margin: 0 2px; /* Adjust spacing between cards */
}
