html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

body, app-root {
  font-family: "Comic Sans MS", "Comic Sans", cursive !important;
}

.mdc-form-field {
  font-family: "Comic Sans MS", "Comic Sans", cursive !important;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.max {
  width: 100%;
  height: 100%;
}

.h-50 {
  height: 50% !important;
}

.w-50 {
  width: 50% !important;
}

.disable-text-selection {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
